/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  /*typography*/
  h1, h2, h3 {
    font-family: 'Gentium Plus', serif;
    color: rgb(32, 32, 32);
  }

  h1{
    font-size: 28pt;
    color: #fefae0;
  }

  /*layout*/
  body{
    margin:0px;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0vh 3vw;
    background-color:#283618;
  }

  /*books*/
  #book-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 6vh;
    gap: 2vw;
  }
  .card{
    width:20vw;
    height:35vh;
    border: 3px solid #dda15e;
    background-color: #fefae0;
    border-radius: 5px;
    text-align: center;
  }

  /*buttons*/
  button{
    background: #dda15e;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    height:5vh;
    width: 7vw;
    margin:5px;
    margin-top:5vh
  }
  #myBtn{
    height:fit-content;
    width: 15vw;
    margin: 0;
  }
  #myBtn h2{
    color: white;
    margin: 0px;
  }

  .not-read{
    background-color: #e63946;
  }
  .read{
    background-color: #606c38;
  }